DATABASE_URL="postgresql://localhost:5432/wishcheaper"
PORT=4000
NODE_ENV=dev
VK_API_VERSION=5.87
VK_COMMUNITY_KEY=adf809d2adf809d2adf809d243ad936aa1aadf8adf809d2f0ef7a04987feb44c538a699
VK_SECRET_KEY=mNrFM3EPU9nmqA4g8UQs
JWT_SECRET=qwerty