.instructions {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    //font-weight: bold;
  }
  button {
    margin-top: 25px;
  }
  .steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;
      text-align: center;
      .name {
        text-transform: uppercase;
        padding: 20px 0 15px 0;
        text-align: center;
        font-weight: bold;
      }
      img {
        height: 115px;
      }
      .description {
        font-size: 1em;
        line-height: 1.4;
        text-align: center;
      }
    }
    .arrow {
      margin: 0 25px;
      img {
        width: 20px;
      }
    }
  }
}

.mainPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  .findPromo, .addPromo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }
  .addPromo {
    background-color: #f9f9f9;
  }
  .statistic {
    max-width: 800px;
    //background-color: #f9f9f9;
    font-size: 20px;
    //background-image: url('../assets/images/Rise-in-FBT-rate.jpg');
    text-align: center;
    .number {
      .decorHeader {
        font-weight: bold;
        margin-bottom: 0;
      }
      font-size: 20px;
      line-height: 1.4;
      text-transform: uppercase;
      text-align: center;
    }
    .title {
      font-size: 50px;
      /* width: 60%; */
      line-height: 80px;
      padding: 60px 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    .stats {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      > div {
        margin: 0 20px;
        max-width: 250px;
        div {
          width: 100%;
          font-size: 3.2em;
        }
      }
    }
    .common {
      padding: 35px 0;
      div {
        font-size: 4em;
      }
    }
  }
}