.goodItem {
  .extra {
    opacity: 0.7;
  }
  &.inactive,
  &.invalid {
    .logo,
    .header,
    .meta,
    .extra {
      opacity: 0.2
    }
  }
  .logo {
    text-align: center;
    .discount {
      left: -10px;
      top: -10px;
      position: absolute;
      z-index: 1
    }
  }
  .rise {
    color: red;
  }
  .cheaper {
    color: green;
  }
  .menuButton {
    float: right;
    margin-right: 20px;
  }
}