.goodItemContainer {
  position: relative;
  margin: 10px 0;
  .menuButton {
    position: absolute;
    z-index: 1;
    margin: 20px 10px;
    right: 10px
  }
}
.goodItem {
  height: 100%;
  //margin: 20px 0;
  .extra {
    opacity: 0.7;
  }
  &.inactive,
  &.invalid {
    opacity: 0.2

    //.logo,
    //.header,
    //.meta,
    //.extra {
    //  opacity: 0.2
    //}
  }
  .logo {
    //text-align: center;
    margin: 10px;
    align-self: center;
    img {
      width: 200px;
    }
    .discount {
      left: -10px;
      top: -10px;
      position: absolute;
      z-index: 1
    }
  }
  .rise {
    color: red;
  }
  .cheaper {
    color: green;
  }
  .extra.content {
    line-height: 2;
    margin: 0;
    padding: 10px;
  }
}