.goodItem {
  &.inactive,
  &.invalid {
    .logo,
    .header,
    .meta {
      opacity: 0.2
    }
  }
  .logo {
    text-align: center;
  }
  .rise {
    color: red;
  }
  .cheaper {
    color: green;
  }
  .menuButton {
    float: right;
    margin-right: 20px;
  }
}